<!doctype html>
<html>
	<head>
		<title>Moodvie.com</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<h1> In the mood for a movie?</h1>
		<h2> How about Moodvie?</h2>
		<% @titles.zip(@pictures).each do |title, picture| %>
			<p class="title"><%= title %></p>
			<img class="poster" src=<%=picture%>></img>
		<% end %>
	</body>
</html>