<!doctype html>
<html>
	<head>
		<title>Moodvie.com</title>
	</head>
	<body>
		<h1>In the ood for a movie?</h1>
		<h2>How about Moodvie?</h2>
		<a href = "/comedy"> Giggly </a>
	</body>
		<a href = "/sport"> Lazy </a>
		<a href = "/action"> Adventurous </a>
</html>
