<!doctype html>
<html>
	<head>
		<title>Moodvie.com</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<h1>In the mood for a movie?</h1>
		<h2>How about Moodvie?</h2>	
		<a href = "comedy"> Giggly </a>
		<a href = "sport"> Lazy </a>
		<a href = "action"> Adventurous </a>
		<a href = "romance"> Lonely </a>
		<br />
		<img src = "images/logo.png" height=100 width=100 ></img>
	</body>	
</html>
